@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --blue-color: #466bf3;
  --black-color: #232631;
  --icon-color: #848484;
  --no-color: #9c9c9c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding: 30px;
}

/* Stylingg */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.logo h4 {
  color: var(--blue-color);
  font-weight: 600;
  font-size: 18px;
}

.list-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
}

.list-nav .active {
  color: var(--blue-color);
}

.list-nav li {
  color: var(--no-color);
}

.list-nav li a {
  text-decoration: none;
  color: var(--no-color);
}

.btn-login {
  padding: 12px;
  border-radius: 10px;
  border: none;
  color: var(--blue-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-login:hover {
  background-color: var(--blue-color);
  color: white;
}

.hero {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-cta h1 {
  font-size: 60px;
}

.text-cta p {
  color: var(--no-color);
  font-size: 16px;
}

.hero-image img {
  border-radius: 30px;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .list-nav {
    gap: 15px;
  }
}
