@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #3258e8;
  --secondary-color: #fafafa;
  --blue-color: #466bf3;
  --blue-second-color: #eef2fe;
  --black-color: #232631;
  --icon-color: #848484;
  --no-color: #9c9c9c;
  --white-second-color: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding: 30px;
}

/* Stylingg */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.logo h4 {
  color: var(--blue-color);
  font-weight: 600;
  font-size: 18px;
}

.list-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
}

.list-nav .active {
  color: var(--blue-color);
}

.list-nav li {
  color: var(--no-color);
}

.list-nav li a {
  text-decoration: none;
  color: var(--no-color);
}

.btn-login {
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  color: var(--blue-color);
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--blue-second-color);
}

.btn-login:hover {
  background-color: var(--blue-color);
  color: white;
}

.hero-section {
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--secondary-color);
  padding: 20px;
  z-index: -1;
}

.wrapper-hero {
  position: relative;
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: space-between;
}

.text-cta {
  padding-left: 15px;
}

.text-cta h1 {
  font-size: 52px;
}

.text-cta p {
  color: var(--no-color);
  font-size: 16px;
}

.wrapper-hero img {
  position: absolute;
  border-radius: 30px;
  right: 0;
  top: 0;
  object-fit: cover;
  z-index: 1;
}

.flight-booking {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.button-group {
  display: flex;
}

.button-group button:first-child {
  background-color: var(--primary-color);
  color: white;
  border-top-left-radius: 8px;
}

.button-group button {
  background-color: white;
  color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
}

.booking-tabs {
  background: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab-group h3 {
  color: #232631;
  font-weight: bolder;
}

.tab-group p {
  color: var(--icon-color);
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .list-nav {
    gap: 15px;
  }
}
